
*{

    box-sizing: border-box;
    border: 1px;
    margin: 0px;
    padding: 0px;
    background: #fdefef;
    font-family: sans-serif;

}



.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
}

.wrapper{
    width: 100%;
    height: auto;
    margin: auto;
}

.header-height{height: 100px;}
.menu-height{height: 50px;}
.content-height{height: 750px;}


.logo{

    margin: 15%;
    height: 60px;
    border-radius: 50%;
}


nav{
    display: flex;
    width: 95%;
    margin: 1%;
    padding: 20px 0;
    align-items: center;
    justify-content: end;
}

nav ul li{
    align-content: center;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    padding: 7px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
}

nav ul li a:hover{
    color: palevioletred;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    transition: .2s;
    
}

.projects{
    max-width: 95%;
    padding: 10% 15%;
}

.projects h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.projects div{
    height: auto;
    width: 550px;
    margin-bottom: 15px;
}

.projects div h4 a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    transition: .3s;
}

.projects div h4 a:hover{
    transform: scale(1.1);
    transition: .3s;
}

.projects .period{
    font-size: 15px;
    color: #f9004d;
    margin-left: 4%;
    margin-bottom: 5px;
    font-style: italic;
}

.projects ul{
    font-size: 15px;
    margin-left: 10%;
    
}